@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background: #3c3838;
	width: 200px;
	height: 500px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:flex;
}

.swiggleBox{
  width: 130px;
  height: 65px;
  left: 42px;
	top: 410px;
  color: #ff5e5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 62px;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg rect, svg path, svg polyline {
  fill: none;
  stroke: #ff5e5b;
  stroke-width: 1;
}

svg path {
  stroke-dasharray: 265, 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.swiggleBox:hover svg path {
  stroke-width: 2.5;
  stroke-dasharray: 0, 350;
  stroke-dashoffset: 20;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

input{
  width: 50px;
  border-color: transparent;
  border-bottom: 1px solid darkgrey;
  color: #ff5e5b;
  font-size: 15px;
  margin-left: 73px;
  margin-top: 350px;
  position: relative;
  background: transparent;
}

input:focus{
  outline: none;
}

input::-webkit-input-placeholder {
  padding-left: 3px;
  font-size: 15px;
  color: #ff5e5b;
}
